@import "tailwindcss";

@font-face {
  font-family: "Kid Word";
  src: url("/src/assets/fonts/kids_word/Kids\ Word.otf");
}

:root {
  --text: #292929;
  --bg: #f5f5f5;
  --fg: #292929;

  --primary: #8d71fe;
  --secondary: white;
  --warning: #f23535;
  
  --font-main: "Kid Word";

  background-color: var(--bg);
  color: var(--text);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}